{% extends "base.html" %}
{% load static %}

{% block home %}
<link rel="stylesheet" type="text/css" href="{% static 'css/our_team.css' %}">
<section class="section-4">               
<div class="row ">
  <div class="col-md-3 col-sm-12 text-center">
      <div class="card mr-2 d-inline-block shadow-sm" style="height: 99%;">
          <div class="card-img-top">
            <img src="{% static 'images/our_team/harsha_img.jpg' %}" class="img-fluid border-radius p-4" alt="">
          </div>
          <div class="card-body">
            <h3 class="card-title">Sai Harsha Varma</h3>
            <p class="card-text">
              A technologist and a hardcore programmer with great analytical skills. I'm disciplined and process oriented. I have great interest in solving real time problems and building highly scalable software systems.
            </p>
            <a href="https://github.com/saiharshavarma" class="text-secondary text-decoration-none">GITHUB</a>
            <p class="text-black-50">Student at VIT</p>
          </div>
        </div>
  </div>
  <div class="col-md-3 col-sm-12 text-center">
    <div class="card mr-2 d-inline-block shadow-sm" style="height: 99%;">
        <div class="card-img-top">
          <img src="{% static 'images/our_team/Shubh_imag.jpeg' %}" class="img-fluid border-radius p-4" alt="">
        </div>
        <div class="card-body">
          <h3 class="card-title">Shubh Mittal</h3>
          <p class="card-text">
            A frontend web developer and a Machine Learning enthusiast skilled in Java, Python and C Programming languages.
            I believe in working hard and giving my 100% in whatever I do, trying to be a better me every day forward
            
          </p>
          <a href="https://github.com/ShubhMittal44" class="text-secondary text-decoration-none">GITHUB</a>
          <p class="text-black-50">Student at VIT</p>
        </div>
      </div>
</div>
  <div class="col-md-3 col-sm-12 text-center">
    <div class="card mr-2 d-inline-block shadow-sm" style="height: 99%;">
        <div class="card-img-top">
          <img src="{% static 'images/our_team/Pakhi.jpg' %}" class="img-fluid border-radius p-4" alt="">
        </div>
        <div class="card-body">
          <h3 class="card-title">Pakhi Singh</h3>
          <p class="card-text">
            An optimist and a tech enthusiast who is always trying to learn more. I bank on my determination and perseverance to achieve my goals while enjoying the process along the way
          </p>
          <a href="https://github.com/Pakhi-singh" class="text-secondary text-decoration-none">GITHUB</a>
          <p class="text-black-50">Student at VIT</p>
        </div>
      </div>
    </div>
  <div class="col-md-3 col-sm-12 text-center">
    <div class="card mr-2 d-inline-block shadow-sm" style="height: 99%;">
        <div class="card-img-top">
          <img src="https://avatars.githubusercontent.com/u/68512691?v=4" class="img-fluid border-radius p-4" alt="">
        </div>
        <div class="card-body">
          <h3 class="card-title">Ravi Kumar Rungta</h3>
          <p class="card-text">
            A tech enthusiast with excellent coding, managerial skills and an unquenchable enthusiasm to learn and explore. I am currently exploring different realms of Machine Learning, Web Development and Competitive Coding.
          </p>
          <a href="https://github.com/ravi4713" class="text-secondary text-decoration-none">GITHUB</a>
          <p class="text-black-50">Student at VIT</p>
        </div>
      </div>
</div>
</div>
</section>
{% endblock home %}
